* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
}
body {
    font-family: Arial;
    line-height:50px;
    background: #abd1e8;
}
#all{
    min-width: 1400px;
}
.menu{
    width: 151px;
    height: 131px;
    background-color: #62a7d0;
    margin-left:190px;
    margin-top: 51px;
    float:left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-box{
    margin-top: 51px;
    width: 600px;
    background-color: #ffffff;
    float:left;
    margin-left: 7px;
    font-weight: bolder;
}
.icon{
    margin-top: 51px;
    width: 230px;
    height: 165px;
    background: url("../image/4.jpeg");
    float:left;
    margin-left: 7px;
    vertical-align: middle;
    background-repeat: no-repeat
}
span{
    font-size: 15px;
    font-weight: bolder;
    color: #fbffff;
}
span:hover{
    opacity: 0.5;
}
b{
    font-size: 30px;
    color:red;
}