<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>作业查看</title>
    <script th:src="@{/jquery-migrate-1.4.1.js}"></script>
    <link rel="stylesheet" th:href="@{/css/list.css}">
    <script th:src="@{/js/list.js}"></script>
</head>
<body>
<div id="all">
    <div class="menu">
        <span><a class="btn btn-sm btn-success" th:href="@{/}">返回首页</a></span>
        <span><a class="btn btn-sm btn-success" th:href="@{/assessAdd}" >任务发布</a></span>
        <span><a class="btn btn-sm btn-success" th:href="@{/assessList}">任务查看</a></span>
        <span><a class="btn btn-sm btn-success" th:href="@{/logout}">退出登录</a></span>
    </div>
    <div class="input-box">
        <table class="reItemM">
            <thead>
            <tr>
                <th>作业号</th>
                <th>考核名称</th>
                <th>考核内容</th>
                <th>截止时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="assess:${assesses}" id="tableInfo">
                <td th:text="${assess.getId()}"></td>
                <td th:text="${assess.getAssName()}"></td>
     <!--新增--><td th:text="${assess.getContent()}"></td>
                <td th:text="${#dates.format(assess.getDeadline(),'yyyy-MM-dd HH:mm:ss')}"></td>
                <td>
                    <a class="btn btn-sm btn-primary green" th:href="@{/assess/}+${assess.getId()}">详情</a>
                    <a class="btn btn-sm btn-primary red" th:href="@{/assessDelete/}+${assess.getId()}">删除</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="icon"></div>

</div>
</body>
</html>